@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

.borderKenar::before{
  content: "";
  @apply absolute inset-0 rounded-full border-2 border-transparent;
  background: linear-gradient(
    300deg,
    white 0%,
    white 50%,
    white 60%,
    white 100%);
    -webkit-mask: linear-gradient(#fff 0 0 ) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0,0,0,0.4);
}
